@page
@model Visportfolio.Pages.CreatePortfolioModel
@{
    ViewData["Title"] = "CreatePortfolio";
}

<h1>CreatePortfolio</h1>

<h4>Categories</h4>
<select asp-for="CategoryId" asp-items="Model.categorylist">
    <option value="">Select Category</option>
</select>
<h4>SubCategories</h4>
<select asp-for="SubCategoryId"></select>
@section scripts{
    <script>
        $(function () {
            $("#CategoryId").on("change", function () {
                var categoryId = $(this).val();
                $("#SubCategoryId").empty();
                $("#SubCategoryId").append("<option value=''>Select Subcategory</option>");
                $.getJSON(`?handler=SubCategories&categoryId=${categoryId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#SubCategoryId").append(`<option value="${item.subCategoryId}">${item.subCategoryName}</option>`);
                    });
                });
            });
        });
    </script>
}


